* {
	box-sizing: border-box;
	font-family: 'Major Mono Display', monospace;
	border-radius: 5px;

}

a {
	text-decoration: none;
}

.container {
	height: 2000px;
	width: 100%;
}

.header {
	height: 4%;
	width: 100%;
	background-color: green;
	opacity: 0.7;
	border-radius: 5px;
}

.logo {
	font-size: 1.8em;
	padding: 20px;
	margin-left: 20px;
}

.logo a {
	color: #003300;	
}

.logo1 {
	font-weight: bolder;
	color: black;

}

.side-menu {
	width: 20%;
	background-color: #33691e;
	height: 70%;
	float: left;
}

ul {
	list-style: none;
	float: left;
	width: 100%;
}

ul li {
	list-style-position: inside;
	list-style-type: none;
	margin-left: -40px;
	padding-top: -2px;
}

ul li a {
	font-size: 1.5em;
	color: #60ad5e;
	border-bottom: 2px solid #005005;
	padding: 12px;
	display:  block;
}

ul li a:hover {
	background-color: #003d00;
	font-size: 2em;
	padding-left: 10px;
}


.inner-content {
	float: right;
	width: 80%;
	height: 70%;
	background-color: lightgreen;
}

.content-tab1 {
	height: 100px;
	width: 70%;
	margin-left: 10%;
	float: left;
	background: green;
	margin-top: 10%;
	opacity: 0.3;
	border: 2px solid green;
	border-radius: 4px;
}

.content-tab2 {
	height: 400px;
	width: 70%;
	margin-left: 10%;
	float: left;
	background: green;
	margin-top: 10%;
	opacity: 0.3;
	border: 2px solid green;
	border-radius: 300px;
	padding: 10px;

}

.footer {
	height: 30%;
	width: 100%;
	background-color: green;
	opacity: 0.5;
	margin-top: 105%;
}



